[submodule "third_party/openweave-core"]
	path = third_party/openweave-core
	url = git@github.com:openweave/openweave-core.git
[submodule "third_party/openthread"]
	path = third_party/openthread
	url = ssh://git@stash.silabs.com/telegesis/devs_open_thread.git
[submodule "third_party/printf"]
	path = third_party/printf
	url = https://github.com/mpaland/printf
